# Python
*.pyc
*.pyo
__pycache__/

# Virtualenv
venv/
env/
.idea/
.vscode/
*.sqlite3

# Django
*.log
*.pot
*.pyc
*.so
*.out
*.pid

# Media
media/

# Migrations
*/migrations/*

# Static files
staticfiles/
node_modules/

# Local environment settings
.env

# macOS specific
.DS_Store
